<div class="container">
    <div class="text-center">
        <h4 style="background-color:orange; color:black"><marquee>Books</marquee></h4>
    </div>
</div>

<div class="container">
    <table class="table table-bordered" *ngIf="books && books.length">
        <thead>
            <tr>
                <th>Book Image</th>
                <th>Book Title</th>
                <th>Book Price</th>
                <th>Book Rating</th>
                <th>Book Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td><a routerLink="/book/{{book.bookId}}"><img src="{{book.imageUrl}}" height="90px" width="70px" /></a>
                </td>
                <td>{{book.title}}</td>
                <td>{{book.price}}</td>
                <td>{{book.rating}}</td>
                <td>
                    <button type="button" class="btn btn-block" style="background-color: burlywood">Add To Cart</button>
                    <button type="button" class="btn btn-block" style="background-color: #fb641b">Buy Now</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>