<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <marquee>
                    <h4> Welcome To Online Book Store</h4>
                </marquee>
            </div>
        </div>
        <div class="card-body">
            <div class="text-center">
                <img src="assets/images/logo.jpg" class="img-responsive" />
            </div>
        </div>
        <div class="text-center">
            <p style="font-size: 20px">Mrunal Todkar</p>
        </div>
    </div>
</div>